{% extends 'basic.html' %}

{% block title %}

{% endblock title %}

{% block body %}
{% load static %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">About AIROBOTICA !</h1>
      <p class="lead">BUILDING AN INNOVATIVE TOMORROW!<br>
        AIRobotica
        is a Bangalore, (the Silicon Valley of India,Make in India) based firm that
        strives to foster Artificial Intelligence by bridging the unexplored realm of
        innovative opportunities in  AeroSpace
        Technology, IOT ,IIOT R&D in Nano ,Micro Satellite research based  Company   We believe in the power of Futuristic technology, where Artificial Intelligence will establish its hold to solve the complex problems and to open up new avenues for businesses of all sizes, across all verticals. Hence,
        <br>
        Our solutions are highly Industry and Requirement specific. Using AI, ML RPA, Space,
        IOT and SAP ERP services, we will help you promote agile and cost-effective
        business, administrative and marketing operations. 
        <br>
        Our aim is to help enterprises create an automated environment to achieve accuracy. Our enterprise-friendly applications can be configured and managed within an IT governed framework and operating model, thereby unlocking the possibilities of becoming the Future Leaders.
        <br>
        Our company specializes in providing solutions for Small, Medium and Large Enterprises via our products and services like:Submitted to Shaik MD Rasool, Director, Airobotica services Pvt Ltd.</p>
     <br>
     Submitted to Mr. Shaik MD Rasool, Director, Airobotica services Pvt Ltd  ,Bangalore
    </div>
  </div>

  {% endblock body %}