{% extends 'basic.html' %}

{% block title %}

{% endblock title %}

{% block body %}
{% load static %}
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/park.jpg' %}" width="460" height="588" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
        </div>
      </div>
      

      <br>
      <h1>About Us</h1>
      <br>
      
      <div class="card-deck">
        <div class="card">
          <img src="{% static 'images/main.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Maintenance</h5>
            <p class="card-text">will regularly clean all critical elements of its automated parking system, including the car lifters top and bottom, all concrete pits, all posts resting on the concrete, and the entire concrete floor in the parking area.</p>
          </div>
          
        </div>
        <div class="card">
          <img src="{% static 'images/security2.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Security</h5>
            <p class="card-text">We will give best security with cctv camera and , with entry and exit tickets.</p>
          </div>
         
        </div>
        <div class="card">
          <img src="{% static 'images/garage.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Garage</h5>
            <p class="card-text">There will 24 hours best garage service inside our parking system.</p>
          </div>
         
        </div>
      </div>
      <br>
      <br>
      <h5 style="text-align: center;">Copyright 2020 Website.com .All Rights reserved</h5>
      

{% endblock body %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>