


{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href={% static 'css/main1.css' %} rel="stylesheet" >
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <body class="text-center">
    <form class="form-signin" action="/reservation" method="post"> {% csrf_token %}
      
        <div class="card" style="width: 30rem;">
          <div class="card-body">
        

    <h1><span class="badge badge-secondary mb-2">BOOKING</h1>
        

  {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong></strong> {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  </div>
  {% endfor %}

        <div class="form-row">
          <div class="col-md-6 mb-2">
            <input type="text" id="fname" name="fname" class="form-control mt-2" placeholder="First Name" required>
          </div>
          <div class="col-md-6 mb-2">
            <input type="text" id="lname" name="lname" class="form-control mt-2" placeholder="Last Name" required>
          </div>
        </div>

        <input type="number" id="num" name="num" class="form-control mt-2" placeholder="Phone Number" required>
        
        <div class="form">
        <select class="custom-select custom-select-lg mb-2 mt-2" id="place" name="place" required>
          <option selected>Place</option>
          <option value="1">Bengaluru</option>
          <option value="2">Mysore</option>
          <option value="3">Mangaluru</option>
        </select>
        </div>
        
        <div class="form-row">
          <div class="col-md-6 mb-2">
            <input type="date" id="date" name="date" class="form-control mt-2" placeholder="time" required>
          </div>
          <div class="col-md-6 mb-2">
            <input type="time" id="time" name="time" class="form-control mt-2" placeholder="time" required>
          </div>
        </div>
        
        <div class="form">
          <select class="custom-select custom-select-lg mb-2 mt-2" id="slot" name="slot" required>
            <option selected>Slot</option>
            <option value="1">A1</option>
            <option value="2">A2</option>
            <option value="3">A3</option>
            <option value="4">B1</option>
            <option value="5">B2</option>
            <option value="6">B3</option>
            <option value="7">C1</option>
            <option value="8">C2</option>
            <option value="9">C3</option>
          </select>
        </div>

        <br>
        <div class="dropdown-divider"></div>
        <button type="submit" class="btn btn-primary mt-2">Book</button>
        

        
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>

{% block body %}
{% endblock body %}

